@import url("https://fonts.googleapis.com/css2?family=Damion&family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins; }

html {
  font-size: 62.5%; }

.buttonlink, .shop-container .shop-products .rel-prod .linkinfo {
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.25);
  font-size: 2rem;
  font-weight: 500;
  font-style: italic; }

.nav {
  display: flex;
  width: 100%;
  background-color: black;
  padding: 10px 50px;
  justify-content: space-between;
  align-items: center; }
  .nav .fa-bars {
    display: none;
    color: white;
    font-size: 2.6rem;
    transform: translateX(10px); }
  .nav ul {
    display: flex;
    margin: 0;
    padding: 0; }
    .nav ul li {
      list-style: none; }
      .nav ul li a {
        padding: 10px;
        text-decoration: none;
        color: white;
        margin-right: 12px;
        letter-spacing: .15rem;
        font-size: 1.6rem; }
        .nav ul li a:hover {
          color: rgba(255, 255, 255, 0.407); }
      .nav ul li .active {
        background-color: white;
        color: black; }
  .nav div {
    display: flex;
    gap: 10px;
    justify-content: end;
    transition: 0.5s; }
    .nav div input {
      margin: 0;
      min-width: 100px;
      border-radius: 2px;
      padding: 5px;
      font-size: 1.2rem; }
    .nav div button {
      background-color: black;
      border: none; }
      .nav div button .fa-magnifying-glass {
        color: white;
        background-color: black;
        border: none;
        font-size: 1.8rem; }

footer {
  display: flex;
  width: 100%;
  background-color: black;
  margin: 0px;
  padding: 5px 50px;
  justify-content: space-between;
  align-items: center;
  color: white; }
  footer ul {
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px; }
    footer ul li {
      list-style: none; }
  footer img {
    height: 40px; }

@media (max-width: 768px) {
  .nav .fa-bars {
    display: flex; }
    .nav .fa-bars:hover + ul {
      left: 0px; }
  .nav ul {
    display: flex;
    font-size: 2.2rem;
    gap: 40px;
    padding: 15px 0px 20px 10px;
    width: auto;
    height: auto;
    background-color: black;
    position: fixed;
    top: 0px;
    left: -999px;
    flex-direction: column;
    align-content: start;
    justify-content: start;
    transition: 0.5s;
    z-index: 3; }
    .nav ul:hover {
      left: 0px; }
  .nav div {
    width: 50%; }
    .nav div input {
      width: 100%;
      padding: 5px;
      font-size: 1.2rem; } }
@media (max-width: 576px) {
  .nav {
    padding: 10px; }

  footer {
    padding: 5px 10px; }
    footer .logo {
      display: none; }
    footer .rights {
      font-size: .75rem; } }
.hero {
  display: grid;
  width: 100%;
  grid-template-columns: 1.25fr 2.5fr;
  grid-template-rows: 80vh; }
  .hero .hero-info {
    position: relative;
    margin: 10px 0px 10px 50px; }
    .hero .hero-info h1 {
      position: absolute;
      font-size: clamp(3.2rem, 8vw, 8.7rem);
      color: black;
      letter-spacing: 20px;
      font-weight: 600;
      text-shadow: 1px 1px 2.5px black;
      padding: 0px; }
      .hero .hero-info h1 span {
        color: rgba(246, 215, 176, 0.5);
        text-shadow: 1px 1px 2.5px #f8c689; }
      .hero .hero-info h1 .medque {
        display: none; }
    .hero .hero-info h4 {
      font-size: clamp(1.8rem, 2.5vw, 3.2rem);
      line-height: 3rem;
      font-weight: 500; }
    .hero .hero-info div {
      height: 30%; }
      .hero .hero-info div .bos {
        text-align: center;
        border: 2px solid;
        border-radius: 10px;
        padding: 0.75%  1.5%;
        font-size: clamp(1.8rem, 2.5vw, 3.2rem);
        text-decoration: none;
        color: black;
        transition: 0.5s; }
        .hero .hero-info div .bos:hover {
          color: white;
          background-color: #313131;
          border: 2px solid black; }
      .hero .hero-info div .bcs {
        text-align: start;
        font-size: clamp(1.8rem, 2.5vw, 3.2rem);
        text-decoration: none;
        color: black; }
        .hero .hero-info div .bcs svg {
          width: 25px;
          transform: translate(-7px, 0px);
          transition: .5s; }
        .hero .hero-info div .bcs span:hover {
          text-decoration: underline; }
        .hero .hero-info div .bcs span:hover + svg {
          transform: translate(10px, 0px); }
  .hero .hero-banner {
    background-image: url(../multimedia/surfboard-cover.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    background-attachment: fixed; }

.banner {
  display: flex;
  width: 100%;
  gap: 25px;
  margin: 25px 0px; }
  .banner .items {
    display: flex;
    position: relative;
    height: 60vh;
    width: 50%;
    transition: 0.5s; }
    .banner .items:hover {
      opacity: 0.75; }
    .banner .items img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
    .banner .items a {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      padding-top: 40vh;
      font-size: clamp(1.8rem, 2.5vw, 3.2rem);
      text-decoration: none;
      color: white;
      opacity: 0; }
      .banner .items a:hover ~ h2 {
        letter-spacing: 20px; }
      .banner .items a:hover {
        opacity: 1; }
    .banner .items h2 {
      font-size: clamp(1.8rem, 2.5vw, 3.2rem);
      color: white;
      width: 100%;
      text-align: center;
      transform: translate(-50%, -50%);
      position: absolute;
      letter-spacing: 10px;
      top: 15%;
      left: 50%;
      transition: 0.5s; }

.youtube {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  margin-bottom: 25px; }
  .youtube iframe {
    width: inherit; }

@media (max-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column;
    height: 65vh;
    position: relative; }
    .hero .hero-info {
      margin: 0;
      align-items: center;
      width: 100%;
      height: inherit;
      z-index: 1; }
      .hero .hero-info h1 {
        position: unset;
        text-align: center;
        font-size: clamp(3.2rem, 8vw, 8.7rem); }
      .hero .hero-info h4 {
        position: unset;
        font-size: clamp(1.8rem, 8vw, 2.4rem); }
      .hero .hero-info div a {
        padding: 0px 20px; }
      .hero .hero-info div .bos {
        font-size: clamp(1rem, 2.5vw, 1.8rem);
        align-self: center; }
      .hero .hero-info div .bcs {
        font-size: clamp(1rem, 2.5vw, 1.8rem); }
    .hero .hero-banner {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 65vh;
      background-size: cover;
      opacity: 0.8; }

  .banner {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .banner .items {
      width: inherit; }
      .banner .items h2 {
        font-size: clamp(3.2rem, 8vw, 8.7rem); }
      .banner .items a {
        font-size: clamp(1.8rem, 8vw, 2.4rem); } }
@media (max-width: 480px) {
  .hero-info h1 {
    position: unset;
    text-align: center;
    font-size: clamp(1.8rem, 8vw, 2.4rem); }
    .hero-info h1 span {
      display: block; }
  .hero-info h4 {
    font-size: clamp(1rem, 2.5vw, 1.8rem); }
    .hero-info h4 .span {
      display: block; }

  .banner .items {
    width: inherit; }
    .banner .items h2 {
      font-size: clamp(3.2rem, 8vw, 8.7rem);
      top: 20%; }
    .banner .items a {
      font-size: clamp(1.8rem, 8vw, 2.4rem); } }
.shop-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 2.5%; }
  .shop-container h2 {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 12vw;
    color: rgba(0, 0, 0, 0.65); }
  .shop-container img {
    width: 100%;
    height: clamp(400px, 70vh, 800px);
    min-height: 400px;
    object-fit: cover; }
    .shop-container img:hover + .shop-products {
      top: 0%;
      z-index: 1; }
  .shop-container .shop-products {
    position: absolute;
    left: 0%;
    top: 0%;
    height: clamp(400px, 70vh, 800px);
    display: flex;
    overflow-x: scroll;
    width: 100%;
    gap: 15px;
    padding: 2.5%;
    z-index: -1;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.85); }
    .shop-container .shop-products:hover {
      top: 0%;
      z-index: 1; }
    .shop-container .shop-products .rel-prod {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      position: relative;
      border-radius: 15px;
      min-width: 300px;
      max-width: 400px;
      padding: 10px 0px;
      background-color: #f1f1f1;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
      transition: 0.5s; }
      .shop-container .shop-products .rel-prod:hover {
        transform: scale(1.05); }
      .shop-container .shop-products .rel-prod div h4 {
        text-align: center;
        width: 100%;
        color: black;
        font-weight: bold;
        text-decoration: underline;
        text-underline-offset: 5px;
        font-size: 1.8rem; }
      .shop-container .shop-products .rel-prod div p {
        font-weight: 300;
        font-style: italic;
        font-size: 1.6rem; }
      .shop-container .shop-products .rel-prod a {
        border-radius: 10px;
        padding: 15px 30px;
        text-decoration: none;
        color: black;
        font-size: 2rem;
        margin-bottom: 65%; }
        .shop-container .shop-products .rel-prod a:hover {
          cursor: pointer;
          text-decoration: underline; }
      .shop-container .shop-products .rel-prod .linkinfo {
        position: absolute;
        top: 45%; }
        .shop-container .shop-products .rel-prod .linkinfo:hover + .prodinfo {
          z-index: 2;
          opacity: 1; }
      .shop-container .shop-products .rel-prod .prodinfo {
        position: absolute;
        display: flex;
        z-index: -1;
        opacity: 0;
        background-color: #f1f1f1;
        font-size: 1.6rem;
        top: 30%;
        width: 100%;
        padding: 25px;
        transition: 1s; }
        .shop-container .shop-products .rel-prod .prodinfo:hover {
          z-index: 2;
          opacity: 1; }
      .shop-container .shop-products .rel-prod img {
        border-radius: 15px;
        min-height: 200px;
        max-height: 77%;
        flex-grow: 1;
        object-fit: contain; }
      .shop-container .shop-products .rel-prod .prod-price {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 15px; }
        .shop-container .shop-products .rel-prod .prod-price select {
          width: 70px;
          font-weight: 300;
          font-size: 1.5rem; }
        .shop-container .shop-products .rel-prod .prod-price button {
          padding: 2.5px 7.5px;
          border: none;
          background-color: rgba(0, 0, 0, 0.45);
          text-align: center;
          color: white;
          border-radius: 5px;
          font-size: 1.5rem; }
          .shop-container .shop-products .rel-prod .prod-price button:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.75); }
      .shop-container .shop-products .rel-prod div p span {
        text-decoration: line-through;
        color: red; }

.carousel {
  margin: 25px 0px; }
  .carousel .carousel-item {
    height: 35vh;
    object-fit: cover; }

.container-riders .riders-info {
  display: flex;
  position: relative;
  overflow: hidden;
  height: clamp(420px, 40vh, 950px);
  gap: 1px;
  z-index: 0; }
  .container-riders .riders-info h2 {
    font-size: 6vw;
    text-align: end;
    width: 50vw;
    z-index: -2; }
  .container-riders .riders-info .riders {
    width: 50vw;
    aspect-ratio: 1/1;
    object-fit: cover;
    background-color: #f1f1f1; }
    .container-riders .riders-info .riders:hover {
      cursor: pointer;
      opacity: 0;
      transition: 0.5s; }
    .container-riders .riders-info .riders:hover + .riders-cover {
      opacity: 1;
      left: 0;
      transition: 1s; }
  .container-riders .riders-info .riders-cover {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    opacity: 1;
    z-index: -1; }
    .container-riders .riders-info .riders-cover p {
      text-align: start;
      font-size: clamp(1rem, 2.5vw, 1.8rem);
      padding: 20px;
      width: 30vw;
      margin: 0px;
      font-style: italic;
      background-color: white; }
      .container-riders .riders-info .riders-cover p span {
        font-weight: bold;
        font-style: italic; }
    .container-riders .riders-info .riders-cover .riders-surf {
      width: 70vw;
      height: 100%;
      object-fit: cover; }
.container-riders .riders-info-2 h2 {
  text-align: start; }
.container-riders .riders-info-2 .riders-2:hover ~ .riders-cover-2 {
  opacity: 1;
  left: 0;
  transition: 1s; }
.container-riders .riders-info-2 .riders-cover-2 {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -50%;
  opacity: 1;
  z-index: -1; }

@media (max-width: 768px) {
  .carousel-item {
    height: 27.5vh; }

  .container-riders .riders-cover .riders-surf {
    width: 60vw; }
  .container-riders .riders-cover p {
    font-size: clamp(1rem, 1.7vw, 2.5rem);
    width: 40vw; } }
@media (max-width: 480px) {
  .carousel-item {
    height: 22.5vh; }

  .container-riders .riders-info h2 {
    display: none; }
  .container-riders .riders-info .riders {
    width: 100vw;
    object-fit: cover; }
  .container-riders .riders-info .riders-cover .riders-surf {
    display: none; }
  .container-riders .riders-info .riders-cover p {
    font-size: clamp(1.8rem, 2.5vw, 3.2rem);
    width: 100vw; } }
.about-lessons {
  display: flex;
  margin: 30px 60px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.303);
  background-color: rgba(246, 215, 176, 0.5); }
  .about-lessons div {
    height: 55vh; }
  .about-lessons .lessons-info {
    padding: 15px 15px 15px 25px;
    border-radius: 10px;
    display: flex;
    width: 45%;
    flex-direction: column;
    justify-content: start;
    overflow-y: scroll; }
    .about-lessons .lessons-info h2 {
      flex-grow: 1;
      padding: 5px 0px;
      font-size: clamp(1.8rem, 8vw, 2.4rem); }
    .about-lessons .lessons-info h4 {
      flex-grow: 1;
      font-size: clamp(1rem, 2.5vw, 1.8rem); }
    .about-lessons .lessons-info p {
      flex-grow: 3;
      margin-top: 15px;
      font-size: clamp(1.2rem, 1.75vw, 1.8rem); }
  .about-lessons .lessons-info-div-img {
    display: flex;
    width: 55%; }
    .about-lessons .lessons-info-div-img img {
      width: 100%;
      height: 100%;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      object-fit: cover; }

.lessons-contact {
  display: grid;
  grid-template-areas: " . InfoC DescC . " " . LevelC DescC . " " . SubRes SubRes . ";
  padding: 10px 50px;
  gap: 10px;
  margin-bottom: 20px;
  background-color: rgba(75, 157, 171, 0.5); }
  .lessons-contact fieldset {
    border: none;
    padding: 10px 0px; }
    .lessons-contact fieldset legend {
      font-style: italic;
      font-size: clamp(1rem, 2.5vw, 1.8rem);
      margin-bottom: 6px; }
    .lessons-contact fieldset label {
      font-size: clamp(0.8rem, 1.75vw, 1.2rem); }
    .lessons-contact fieldset input {
      padding: 5px;
      margin-bottom: 12px;
      margin-left: 6px;
      width: 70%;
      border: none;
      border-radius: 5px;
      font-size: clamp(0.8rem, 1.75vw, 1.2rem); }
  .lessons-contact .contact-information-class {
    grid-area: InfoC;
    display: flex;
    flex-direction: column; }
    .lessons-contact .contact-information-class label {
      border: none;
      padding: 10px 0px 5px 15px; }
  .lessons-contact .about-level-class {
    grid-area: LevelC;
    display: flex;
    flex-wrap: wrap; }
    .lessons-contact .about-level-class input {
      width: auto;
      margin-left: 5px;
      margin-right: 15px;
      margin-top: 6px; }
  .lessons-contact .info-extra-class {
    grid-area: DescC;
    display: flex;
    flex-direction: column; }
    .lessons-contact .info-extra-class textarea {
      height: 180px;
      width: 100%;
      resize: none;
      align-self: center;
      border-radius: 10px;
      border: none;
      margin-top: 10px;
      padding: 15px;
      font-size: clamp(0.8rem, 1.75vw, 1.2rem); }
  .lessons-contact .submit-reset {
    grid-area: SubRes;
    display: flex;
    justify-content: center;
    gap: 30px; }
    .lessons-contact .submit-reset input {
      margin: 0;
      padding: 10px 20px;
      font-size: 1.5rem;
      width: 200px;
      background-color: #000000cc;
      border: none;
      color: white;
      cursor: pointer; }

.review-container {
  display: flex;
  flex-direction: column;
  height: 300px;
  border-radius: 10px;
  background-color: rgba(246, 215, 176, 0.5);
  overflow-y: scroll;
  margin: 30px 60px;
  align-items: center;
  gap: 20px; }
  .review-container h2 {
    display: block;
    padding: 20px 25px 5px 25px;
    margin: 0px;
    font-size: clamp(1.8rem, 2.5vw, 3.2rem); }
  .review-container .review-lessons {
    display: flex;
    padding: 15px;
    align-items: top;
    gap: 10px;
    height: auto; }
    .review-container .review-lessons .review-title {
      min-width: 150px;
      flex-grow: 1;
      text-align: end;
      font-size: clamp(1rem, 2.5vw, 1.8rem); }
    .review-container .review-lessons .review-info {
      flex-grow: 3;
      border: 2px solid black;
      background-color: white;
      border-radius: 10px;
      padding: 10px;
      margin-top: 2.5px;
      font-size: clamp(0.8rem, 1.75vw, 1.2rem); }

@media (max-width: 768px) {
  .about-lessons {
    flex-direction: column-reverse;
    margin: 30px;
    margin-bottom: 20px;
    height: auto; }
    .about-lessons .lessons-info {
      width: 100%;
      height: auto; }
    .about-lessons .lessons-info-div-img {
      width: 100%;
      height: 35vh; }
      .about-lessons .lessons-info-div-img img {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0px; }

  .lessons-contact {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 30px; }
    .lessons-contact .form-floating input {
      width: 95%; }

  .review-container {
    margin: 30px;
    height: auto; }
    .review-container .review-mq {
      width: auto;
      height: 300px;
      overflow: auto; }
      .review-container .review-mq .review-lessons {
        flex-direction: column; }
        .review-container .review-mq .review-lessons .review-title {
          display: flex;
          justify-content: space-between; } }
h1 {
  padding: 5px 60px; }

h2 {
  padding: 5px 60px; }

.hours {
  font-style: italic;
  text-align: end; }

.maps-main {
  background-color: rgba(75, 157, 171, 0.5);
  margin: 5px 60px;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 0px 20px;
  gap: 10px; }
  .maps-main .maps {
    min-width: 275px;
    width: 25vw;
    height: auto;
    gap: 10px;
    padding: 20px 0px; }
    .maps-main .maps h3 {
      margin: 5px 0px; }
      .maps-main .maps h3 br {
        display: none; }
    .maps-main .maps iframe {
      width: 100%;
      height: 300px;
      object-fit: contain;
      border-radius: 10px; }
    .maps-main .maps p {
      font-size: clamp(1.2rem, 1.75vw, 1.8rem); }

@media (max-width: 1010px) {
  .maps-main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; }
    .maps-main .maps {
      display: flex;
      width: 100%;
      justify-content: center; }
      .maps-main .maps h3 br {
        display: block; }
      .maps-main .maps iframe {
        width: 30vw; }
      .maps-main .maps p {
        width: 30vw;
        font-size: clamp(0.8rem, 1.75vw, 1.2rem); } }
@media (max-width: 650px) {
  .maps-main {
    margin: 5px 17px; }
    .maps-main .maps {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: auto; }
      .maps-main .maps h3 br {
        display: none; }
      .maps-main .maps iframe {
        width: 80%;
        min-width: 200px;
        max-width: 350px;
        height: 250px; }
      .maps-main .maps p {
        width: 60vw; }

  h1 {
    padding: 5px 17px; }

  h2 {
    padding: 5px 17px;
    font-size: 1.1rem; } }
.container-main {
  background: radial-gradient(ellipse at center, #fffeea 0%, #fffeea 35%, #c5e4e6 100%);
  overflow: hidden;
  position: relative; }
  .container-main .ocean {
    height: 2.5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #015871; }
    .container-main .ocean .wave {
      background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
      position: absolute;
      top: -198px;
      width: 6400px;
      height: 198px;
      animation: wave 17s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
      transform: translate3d(0, 0, 0); }
  .container-main .info-container h2 {
    font-size: clamp(1.8rem, 8vw, 2.4rem); }
  .container-main .info-container p {
    font-size: clamp(1rem, 2.5vw, 1.8rem);
    padding: 10px 60px; }
  .container-main .surfboard-container {
    padding: 10px clamp(50px, 10%, 150px);
    height: 40%;
    margin-bottom: 120px; }
    .container-main .surfboard-container .surfboard-param h4 {
      font-size: clamp(1.8rem, 2.5vw, 3.2rem);
      font-style: italic;
      text-decoration: underline; }
    .container-main .surfboard-container .surfboard-param .param {
      width: clamp(200px, 50vw, 700px);
      margin-bottom: 25px;
      padding-bottom: 15px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.2); }
      .container-main .surfboard-container .surfboard-param .param label {
        font-size: clamp(1rem, 2.5vw, 1.8rem);
        margin: 0px; }
      .container-main .surfboard-container .surfboard-param .param div label {
        font-size: 1.4rem;
        padding: 0px 10px; }
      .container-main .surfboard-container .surfboard-param .param div input {
        width: 70%; }
    .container-main .surfboard-container .surfboard-param .surfboard-button {
      text-align: center;
      font-size: clamp(1.8rem, 2.5vw, 3.2rem);
      text-decoration: none;
      color: black;
      border: none;
      background-color: rgba(0, 0, 0, 0);
      z-index: 2; }
      .container-main .surfboard-container .surfboard-param .surfboard-button:hover {
        text-decoration: underline; }
      .container-main .surfboard-container .surfboard-param .surfboard-button:hover ~ img {
        transform: translate(-46%); }
      .container-main .surfboard-container .surfboard-param .surfboard-button span:hover + svg {
        transform: translate(10px, 0px); }
      .container-main .surfboard-container .surfboard-param .surfboard-button svg {
        width: 25px;
        transform: translate(-7px, 0px);
        transition: .5s; }
    .container-main .surfboard-container .surfboard-img {
      width: 50%; }
      .container-main .surfboard-container .surfboard-img img {
        height: 500px;
        transition: 0.5s;
        z-index: 2; }

@keyframes wave {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -1600px; } }
@keyframes swell {
  0%, 100% {
    transform: translate3d(0, -25px, 0); }
  50% {
    transform: translate3d(0, 5px, 0); } }
@media (max-width: 576px) {
  .container-main .info-container h2 {
    font-size: clamp(1.8rem, 2.5vw, 3.2rem); }
  .container-main .info-container p {
    font-size: clamp(1.2rem, 1.75vw, 1.8rem);
    padding: 10px 20px; }

  .surfboard-container {
    padding: 10px;
    height: 40%;
    margin-bottom: 120px; }
    .surfboard-container .surfboard-param h4 {
      font-size: clamp(1rem, 2.5vw, 1.8rem);
      font-style: italic;
      text-decoration: underline; }
    .surfboard-container .surfboard-param .param {
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.2); }
      .surfboard-container .surfboard-param .param label {
        font-size: clamp(1.2rem, 1.75vw, 1.8rem);
        margin: 0px; }
      .surfboard-container .surfboard-param .param div label {
        font-size: 1.2rem;
        padding: 0px 10px; }
      .surfboard-container .surfboard-param .param div input {
        width: 70%; }
    .surfboard-container .surfboard-param .surfboard-button {
      position: relative;
      text-align: center;
      font-size: clamp(1.8rem, 2.5vw, 3.2rem);
      text-decoration: none;
      color: black;
      border: none;
      background-color: rgba(0, 0, 0, 0);
      z-index: 2; }
      .surfboard-container .surfboard-param .surfboard-button:hover {
        text-decoration: underline; }
      .surfboard-container .surfboard-param .surfboard-button span:hover + svg {
        transform: translate(10px, 0px); }
      .surfboard-container .surfboard-param .surfboard-button svg {
        width: 25px;
        transform: translate(-7px, 0px);
        transition: .5s; }
    .surfboard-container .surfboard-img img {
      display: none; } }

/*# sourceMappingURL=style.css.map */
