
.nav{
    display: flex;
    width: 100%;
    background-color: $navcolor;
    padding: 10px 50px;
    justify-content: space-between;
    align-items: center;

    .fa-bars{
        display: none;
        color: white;
        font-size: 2.6rem;
        transform: translateX(10px);
    }

    ul{
        display: flex;
        margin: 0;
        padding: 0;

        li{
            list-style: none;
        
            a{
                padding: 10px;
                text-decoration: none;
                color: white;
                margin-right: 12px;
                letter-spacing: .15rem;
                font-size: 1.6rem;
                &:hover{
                    color: rgba(255, 255, 255, 0.407);
                }
            }

            .active{
                background-color: white;
                color: black;
            }
        }
    }

    div{
        display: flex;
        gap: 10px;
        justify-content: end;
        transition: 0.5s;

        input{
            margin: 0;
            min-width: 100px;
            border-radius: 2px;
            padding: 5px;
            font-size: 1.2rem;
        }

        button{
            background-color: black;
            border: none;

            .fa-magnifying-glass{
                color: white;
                background-color: black;
                border: none;
                font-size: 1.8rem;
            }
        }
    }
 
    
}

footer{
    display: flex;
    width: 100%;
    background-color: $navcolor;
    margin: 0px;
    padding: 5px 50px;
    justify-content: space-between;
    align-items: center;
    color: white;

    ul{
        display: flex;
        align-items: center;
        padding: 0px;
        margin: 0px;

        li{
            list-style: none;
        }
    }

    img{
        height: 40px;
    }
}

@media (max-width:768px) {
    .nav{

        .fa-bars{
            display: flex;
            &:hover + ul {
                left:0px    
            }
        }

        ul {
            display: flex;
            font-size: 2.2rem;
            gap: 40px;
            padding: 15px 0px 20px 10px;
            width: auto;
            height: auto;
            background-color: black;
            position: fixed;
            top:0px;
            left:-999px;
            flex-direction: column;
            align-content: start;
            justify-content: start;
            transition: 0.5s;
            z-index: 3;
            &:hover{
                left:0px    
            }
        }
 
        div {
            width: 50%;
            input{
                width: 100%;
                padding: 5px;
                font-size: 1.2rem;
            }
        }
    }
}

@media (max-width:576px) {
    .nav {
        padding: 10px;
    }

    footer {
        padding: 5px 10px;

        .logo{
            display: none;
        }

        .rights{
            font-size: .75rem;
        }
    }
}