
.hero{
    display: grid;
    width: 100%;
    grid-template-columns: 1.25fr 2.5fr;
    grid-template-rows: 80vh;

    .hero-info {
        position: relative;
        margin: 10px 0px 10px 50px;

        h1{
            position: absolute;
            font-size: $title-desktop;
            color: $navcolor;
            letter-spacing: 20px;
            font-weight: 600;
            text-shadow: 1px 1px 2.5px $navcolor;
            padding: 0px;

            span{
                color:$pcolor;
                text-shadow: 1px 1px 2.5px rgb(248, 198, 137);
            }

            .medque{
                display: none;
            }
        }

        h4{
            font-size: $subtitle-desktop;
            line-height: 3rem;
            font-weight: 500;
        }

        div{
            height: 30%;

            .bos{
                text-align: center;
                border: 2px solid;
                border-radius: 10px;
                padding: 0.75%  1.5%;
                font-size: $subtitle-desktop;
                text-decoration: none;
                color: $navcolor;
                transition: 0.5s;
                &:hover{
                    color: white;
                    background-color: rgb(49, 49, 49);
                    border: 2px solid black;
                }
            }

            .bcs{
                text-align: start;
                font-size: $subtitle-desktop;
                text-decoration: none;
                color:$navcolor;

                svg{
                    width: 25px;
                    transform: translate(-7px, 0px);
                    transition: .5s;
                }

                span{
                    &:hover{
                        text-decoration: underline;
                    }
                    &:hover + svg{
                        transform: translate(10px, 0px);
                    }
                }
            }
        }
    }

    .hero-banner{
        background-image: url(../multimedia/surfboard-cover.png); 
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top right;
        background-attachment: fixed; 
    }
}

.banner{
    display: flex;
    width: 100%;
    gap: 25px;
    margin: 25px 0px;  
    
    .items{
        display: flex;
        position: relative;
        height: 60vh;
        width: 50%;
        transition: 0.5s;
        &:hover{
            opacity: 0.75;
        }

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;    
        }

        a{
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            padding-top: 40vh;
            font-size: $subtitle-desktop;
            text-decoration: none;
            color:white;
            opacity: 0;
            &:hover ~ h2{
                letter-spacing: 20px;
            };
            &:hover{
                opacity: 1;
            }
        }

        h2{
            font-size: $subtitle-desktop;
            color: white;
            width: 100%;
            text-align: center;
            transform:  translate(-50%, -50%);
            position: absolute;
            letter-spacing: 10px;
            top: 15%;
            left: 50%;
            transition: 0.5s;
        }
    }
}

.youtube{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    margin-bottom:25px;

    iframe{
        width: inherit;
    }
}

@media (max-width:768px) {
    .hero{
        display: flex;
        flex-direction: column;
        height: 65vh;
        position: relative;

        .hero-info{
            margin: 0;
            align-items: center;
            width: 100%;
            height: inherit;
            z-index: 1;

            h1{
                position: unset;
                text-align: center;
                font-size: $title-desktop
            }

            h4{
                position: unset;
                font-size: $title-mobile;
            }

            div{
                a{
                    padding: 0px 20px;
                }

                .bos{
                    font-size: $subtitle-mobile;
                    align-self: center;
                }

                .bcs{
                    font-size: $subtitle-mobile;
                }
            }
        }

        .hero-banner{
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 65vh;
            background-size: cover;
            opacity: 0.8;
        }
    }

    .banner{
        display: flex;
        flex-direction: column;
        width: 100%;

        .items{
            width: inherit;

            h2{
                font-size: $title-desktop;
            }

            a{
                font-size: $title-mobile;
            }
        }
    }
}

@media (max-width:480px) {
    .hero-info{ 
        h1{
            position: unset;
            text-align: center;
            font-size: $title-mobile;

            span{
                display: block;
            }
        }

        h4{
            font-size: $subtitle-mobile;

            .span{
                display: block;
            }
        }
    }

    .banner{
        .items{
            width: inherit;

            h2{
                font-size: $title-desktop;
                top: 20%;
            }

            a{
                font-size: $title-mobile;
            }
        }
    }
}