.container-main{
    background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #c5e4e6 100%);
    overflow: hidden;
    position: relative;

    .ocean { 
        height: 2.5%;
        width:100%;
        position:absolute;
        bottom:0;
        left:0;
        background: #015871;

        .wave {
            background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
            position: absolute;
            top: -198px;
            width: 6400px;
            height: 198px;
            animation: wave 17s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
            transform: translate3d(0, 0, 0);
        }

        // .wave:nth-of-type(2) {
        //     top: -175px;
        //     animation: wave 17s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 17s ease -1.25s infinite;
        //     opacity: 1;
        // }
    }

    .info-container{
        h2{
            font-size: $title-mobile;
        }
        p{
            font-size: $subtitle-mobile;
            padding: 10px 60px;
        }
    }

    .surfboard-container {
        padding: 10px clamp(50px, 10%, 150px);
        height: 40%;
        margin-bottom: 120px;

        .surfboard-param{

            h4{
                font-size: $subtitle-desktop;
                font-style: italic;
                text-decoration: underline;
            }
            .param{
                width: clamp(200px, 50vw, 700px);
                margin-bottom: 25px;
                padding-bottom: 15px;
                border-bottom: 2px solid rgba(0, 0, 0, 0.20);

                label{
                    font-size: $subtitle-mobile;
                    margin: 0px;
                }
    
                div {

                    label{
                        font-size: 1.4rem;
                        padding: 0px 10px;
                    }
    
                    input{
                        width: 70%;
                    }
                }
            }

            .surfboard-button{
                text-align: center;
                font-size: $subtitle-desktop;
                text-decoration: none;
                color: rgb(0, 0, 0);
                border: none;
                background-color: rgba(0, 0, 0, 0);
                z-index: 2;
                &:hover{
                    text-decoration: underline;
                }
                &:hover ~ img{
                    transform: translate(-46%);
                }
    
                span{
                    &:hover + svg{
                        transform: translate(10px, 0px);
                    }
                }
    
                svg{
                    width: 25px;
                    transform: translate(-7px, 0px);
                    transition: .5s;
                }
            }  
        }   

        .surfboard-img{
            width: 50%;
            
            img{
            height: 500px;
            transition: 0.5s;
            z-index: 2;
            }
        }
    }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}



@media (max-width:576px) {
    
    .container-main {
        .info-container{
            h2{
                font-size: $subtitle-desktop;
            }
            p{
                font-size: $paragraph-desktop;
                padding: 10px 20px;
            }
        }
    }
    
    .surfboard-container {
        padding: 10px;
        height: 40%;
        margin-bottom: 120px;

        .surfboard-param{
            h4{
                font-size: $subtitle-mobile;
                font-style: italic;
                text-decoration: underline;
            }
            .param{
                margin-bottom: 20px;
                padding-bottom: 10px;
                border-bottom: 2px solid rgba(0, 0, 0, 0.20);

                label{
                    font-size: $paragraph-desktop;
                    margin: 0px;
                }
    
                div {

                    label{
                        font-size: 1.2rem;
                        padding: 0px 10px;
                    }
    
                    input{
                        width: 70%;
                    }
                }
            }

            .surfboard-button{
                position: relative;
                text-align: center;
                font-size: $subtitle-desktop;
                text-decoration: none;
                color: rgb(0, 0, 0);
                border: none;
                background-color: rgba(0, 0, 0, 0);
                z-index: 2;
                &:hover{
                    text-decoration: underline;
                }
        
                span{
                    &:hover + svg{
                        transform: translate(10px, 0px);
                    }
                }
    
                svg{
                    width: 25px;
                    transform: translate(-7px, 0px);
                    transition: .5s;
                }
            }  
        }   

        .surfboard-img{    
            img{
            display: none;
            }
        }
    }
}